@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  height: 100%;
  font-family: 'Radio Canada', Calibri, "Segoe UI", Arial, sans-serif;
  overflow-y: scroll;
}

nav {
  text-align: center;
  z-index: 10;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.navbar #navLinks {
  display: none;
}

.navbar a {
  color: white;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.navbar a.profile {
  display: block;
  position: absolute;
  top: 8px;
}

.navbar a.menu {
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
}

.navbar a:hover {
  color: black;
}

.footerPlaceholder a:hover {
  color: black;
}

.logo {
  background-color: #52BBE7;
  color: white;
}

#logoText {
  font-size: 20px;
  font-weight: bold;
}

#footerPlaceholder {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #52BBE7;
  box-shadow: 0px 20px 30px 10px;
}

#navbarPlaceholder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.imageID {
  display: none;
}

.imageIDdescription {
  display: none;
}

.homeIcon {
  color: white;
  position: absolute;
  left: 100px;
}

.camera {
  color: white;
}

.search {
  color: white;
  position: absolute;
  right: 100px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.profile_name {
  color: red;
}

#alerts {
  text-align: center;
}

#card {
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 95%;
  margin-left: 3%;
  filter: drop-shadow(0px 0px 10px #000)
}

#card table {
  margin-left: auto;
  margin-right: auto;
}

#card h3 {
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.description {
  text-align: left;
  padding: 20px;
  width: 80%;
}

#sidebar {
  background-color: white;
}

#timeline img {
  width: 80%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
}

#deletePost {
  color: #52BBE7;
  font-family: 'Radio Canada', sans serif;
  font-size: 8pt;
  background-color: white;
  text-decoration: none;
  border: 2px solid #52BBE7;
  border-radius: 14px;
  padding: 0.5em;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

#deletePost:hover {
  color: white;
  background-color: #52BBE7;
  border: 2px solid rgba(248, 253, 252, 0.8);
}

#deleteImage {
  color: #52BBE7;
  font-family: 'Radio Canada', sans serif;
  font-size: 8pt;
  background-color: white;
  text-decoration: none;
  border: 2px solid #52BBE7;
  border-radius: 14px;
  padding: 0.5em;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

#deleteImage:hover {
  color: white;
  background-color: #52BBE7;
  border: 2px solid rgba(248, 253, 252, 0.8);
}

input[type="file"] {
  display: none;
}

.image-label {
  color: #52BBE7;
  font-family: 'Radio Canada', sans serif;
  font-size: 8pt;
  background-color: white;
  text-decoration: none;
  border: 2px solid #52BBE7;
  border-radius: 14px;
  padding: 0.5em;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

.image-label:hover {
  color: white;
  background-color: #52BBE7;
  border: 2px solid rgba(248, 253, 252, 0.8);
}

#confirm {
  color: #52BBE7;
  font-family: 'Radio Canada', sans serif;
  font-size: 8pt;
  background-color: white;
  text-decoration: none;
  border: 2px solid #52BBE7;
  border-radius: 14px;
  padding: 0.5em;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

#confirm:hover {
  color: white;
  background-color: #52BBE7;
  border: 2px solid rgba(248, 253, 252, 0.8);
}

dd {
  font-style: italic;
  font-weight: bold;
}

#bbymap {
  width: 95%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}

#forecastTable {
  width: 95%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}

#forecast {
  background: rgba(99, 99, 214, 0.8);
  padding: 5px;
  bottom: 0;
  display: flex;
  color: white;
  align-items: last baseline;
  justify-content: space-between;
  overflow-y: hidden;
  font-size: 11px;
  padding-left: 5px;
}

.box {
  background-color: black;
  border-radius: 10px;
  padding: 9px;
  margin: 6px;
  height: 85%;
}

.gm-style img {
  max-width: 80%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 800px 60px;
    height: 100vh;
    padding: 0.5em;
    grid-gap: 5px;
  }

  #navbarPlaceholder {
    grid-column: 1;
    grid-row: 1;
  }

  #contentBody {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1.5fr 2fr;
    grid-column: 1;
    grid-row: 2;
    padding-top: 20px;
    padding-bottom: 0px;
    grid-gap: 5px;
  }

  #sidebar {
    grid-column: 1 / span 2;
    grid-row: 1;

    border-radius: 10px 10px 10px 10px;
    overflow-y: auto;
  }

  #map {
    grid-column: 1;
    grid-row: 2;
    background-color: #52BBE7;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    overflow-y: hidden;
  }

  #forecast {
    grid-column: 1;
    grid-row: 3;
    background-color: #52BBE7;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
  }

  #footerPlaceholder {
    grid-column: 1;
    grid-row: 5;
  }
}

@media only screen and (min-width: 801px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 78% 10%;
    height: 100vh;
  }

  #navbarPlaceholder {
    grid-column: 1;
    grid-row: 1;
  }

  #footerPlaceholder {
    grid-column: 1;
    grid-row: 3;
  }

  #contentBody {
    display: grid;
    grid-template-columns: 46% 54%;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-column: 1;
    grid-row: 2;
    margin-top: 1.5%;
    margin-bottom: 0%;
    gap: 10px;
  }

  #sidebar {
    grid-column: 2;
    grid-row: 1 / span 4;
    border-radius: 10px 10px 10px 10px;
    overflow-y: auto;
  }

  #map {
    grid-column: 1;
    grid-row: 1 / span 2;
    text-align: center;
    margin-top: 0%;
    border-radius: 10px 10px 10px 10px;
  }

  #bbymap {
    max-width: 95%;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid grey;
  }

  #forecast {
    grid-column: 1;
    grid-row: 3 / span 2;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
  }

  #forecastTable {
    max-width: 95%;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid grey;
  }
}