body {
  font-family: Calibri, "Segoe UI", Arial, sans-serif;
}

nav {
  text-align: center;
}

/* Style the navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.navbar #navLinks {
  display: none;
}

/* nav menu links */
.navbar a {
  color: white;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

/* nav menu profile icon */
.navbar a.profile {
  background: black;
  display: block;
  position: absolute;
}
/* nav menu hamburger icon */
.navbar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* when hovering above nav menu */
.navbar a:hover {
  background-color:darkgray;
  color: black;
}

/* nav menu logo */
.logo {
  background-color:teal;
  color: white;
}

/* nav menu logo text */
#logoText {
  font-size: 16px;
  font-weight: bold;
}

.footerPlaceholder {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: teal;
}

.homeIcon {
  color: white;
  position: absolute;
  left: 100px;
}

.camera {
  color: white;
}

.search {
  color: white;
  position: absolute;
  right: 100px;
}

/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Dashboard Stuff */

.profile_name {
  color: red;
}